*{
  color: #F7F7F7;
}
.OrderScreen {
  margin-left: 10px;
  height: 90%;
  overflow-y: auto;
}
.orderItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-radius: 5px;
  background-color: #8EB486;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.orderItem:hover {
  background-color: #9ab694;
}

.remove_buttom :hover {
  cursor: pointer;
}
.orderItem:active {
  background-color: #a4bb9f;
  cursor: pointer;
}

.infoButton:hover{
  cursor: pointer;
}