<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=search"
/>

<div class="card">
  <div class="MenuCard">
    <p-splitter
      [style]="{ height: '90vh' }"
      [panelSizes]="[20, 60, 30]"
      [minSizes]="[15, 20]"
      styleClass="mb-8 "
    >
      <ng-template #panel>
        <div style="flex-grow: 1" class="col flex items-center justify-center">
          <app-app-header (tabOption)="setTabOption($event)"></app-app-header>
        </div>
      </ng-template>
      <ng-template #panel>
        <p-splitter
          layout="vertical"
          [panelSizes]="[50, 50]"
          [minSizes]="[30, 20]"
        >
          <ng-template #panel>
            <div style="display: flex; width: 100%">
              @switch (tabOption) { @case ("2") {
              <app-table-screen
                style="overflow-y: auto; width: 100%"
                (outputTable)="setTable($event)"
                (outputDbcFlag)="setTableAndOpenMenu($event)"
              ></app-table-screen>
              } @case ("3") {
              <app-category-screen
                (selectedCategory)="setCategory($event)"
                style="display: flex; width: 100%; height: 100%"
              ></app-category-screen>
              }@case ("4") {
              <app-take-away (table)="setTable($event)" style="display: flex; width: 100%; height: 100%">
              </app-take-away>
              } @default {
              <div style="padding-top: 50px" class="menuContent">
                <div class="box">TODO</div>
              </div>
              } }
            </div>
          </ng-template>
          <ng-template #panel>
            <div class="menuContent">
              @for (item of displayItemServing; track $index) {
              <div class="box">
                <div (dblclick)="sendItemToBill(item)">
                  <div
                    style="
                      width: 100%;
                      height: 50px;
                      font-size: medium;
                      font-weight: bold;
                      color: #f8f5e9;
                    "
                  >
                    {{ item.name }}
                  </div>
                  <div style="width: 100%; height: 10px; color: #f8f5e9">
                    {{ item.price }}
                  </div>
                </div>
                <div class="custom-input-number">
                  <button
                    style="
                      width: 50px;
                      color: #f8f5e9;
                      background-color: #d8a075;
                      border-top-left-radius: 10px;
                      border-bottom-left-radius: 10px;
                      border-color: #d8a075;
                    "
                    (click)="decrease($index)"
                  >
                    -
                  </button>
                  <input
                    step="1"
                    style="
                      width: 50px;
                      font-size: larger;
                      text-align: center;
                      background-color: #db8645;
                      color: #f8f5e9;
                    "
                    type="number"
                    [(ngModel)]="item.count"
                    (input)="onInputChange($index, $event)"
                  />
                  <button
                    style="
                      width: 50px;
                      color: #f8f5e9;
                      background-color: #d8a075;
                      border-top-right-radius: 10px;
                      border-bottom-right-radius: 10px;
                      border-color: #d8a075;
                    "
                    (click)="increase($index)"
                  >
                    +
                  </button>
                </div>
              </div>
              }
            </div>
          </ng-template>
        </p-splitter>
      </ng-template>
      <ng-template #panel>
        <p-splitter
          layout="vertical"
          [panelSizes]="[40, 60]"
          [minSizes]="[20, 20]"
        >
          <ng-template #panel>
            <app-bill-screen
              style="overflow-y: auto; width: 100%"
              [currentTable]="tableInput"
              [currentSetting]="setting"
            ></app-bill-screen>
          </ng-template>
          <ng-template #panel>
            <div
              style="
                flex-grow: 1;
                height: 95%;
                overflow-y: auto;
                background-color: #8eb486;
                border-radius: 5px;
                padding-left: 5px;
                margin: 10px;
                margin-right: 20px;
              "
              class="col flex items-center justify-center"
            >
              <div style="margin: 10px">
                <div
                  class="totalCount"
                  style="display: flex; align-items: center"
                >
                  <div style="width: 80%; flex-shrink: 1; color: #f7f7f7">
                    Subtotal
                  </div>
                  <div style="width: 20%; flex-shrink: 2; color: #f7f7f7">
                    {{ tableInput.bill.subTotal }}
                  </div>
                </div>
                <div
                  class="totalCount"
                  style="display: flex; align-items: center"
                >
                  <div style="width: 80%; flex-shrink: 1; color: #f7f7f7">
                    VAT(%)
                  </div>
                  <div style="width: 20%; flex-shrink: 2; color: #f7f7f7">
                    {{ setting.VAT_current * 100 }}
                  </div>
                </div>
              </div>

              <p-divider type="dashed" />
              <div style="margin: 10px">
                <div
                  class="totalCount"
                  style="display: flex; align-items: center"
                >
                  <div style="width: 80%; flex-shrink: 1">Total</div>
                  <div style="width: 20%; flex-shrink: 2">
                    {{ tableInput.bill.total }}
                  </div>
                </div>
                <div>
                  <div style="margin-top: 20px">Payment method</div>
                  <div style="display: flex; padding: 20px">
                    @for (item of sanitizedSvgs; track $index) {
                    <div
                      class="payMethod"
                      style="height: 80px; width: 80px"
                      [innerHTML]="item"
                    ></div>
                    }
                  </div>
                  <div id="orderButton">Place Order</div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-splitter>
      </ng-template>
    </p-splitter>
  </div>
</div>
