*{
  color: #F7F7F7;;
}
.card {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 90%;
}
.box {
  color: #F8F5E9;
  height: 130px;
  width: 150px;
  background: #DF6D14;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

.box:hover{
    cursor: pointer;
}
.menuContent {
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  gap: 20px;
  row-gap: 20px;
  display: flex;
  justify-content: flex-start ;
  align-content: flex-start ;
  flex-wrap: wrap;
  overflow-y: auto; 
}

.SearchBar {
  margin-top: 10px;
  margin-left: 10px;
}


.OrderScreen {
  margin-left: 10px;
  height: 90%;
  overflow-y: auto;
}
.orderItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-radius: 5px;
  background-color: #eaeef5;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.orderItem:hover {
  background-color: #e3e7ee;
  cursor: pointer;
}

.orderItem:active {
  background-color: #d1d7dd;
  cursor: pointer;
}

#orderButton:hover {
  cursor: pointer;
}

#orderButton:active {
  background-color: #b5bcc4;
  cursor: pointer;
}

#orderButton {
  border: 5px;
  border-radius: 20px;
  background-color: #a6adb9;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payMethod:hover{
  cursor: pointer;
}

.custom-input-number{
  display: flex;
  margin-top: 20px;
}

::ng-deep .p-divider.p-divider-dashed {
  border-top: 1px dashed black !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

input:focus {
  outline:none;
}